rideon_apikey=<YOUR KEY>
rideon_apiurl=http://www.rsslotteryresults.com:8080/

rideon_wheels_url=http://webwatch.lavta.org/prediction.aspx?mode=a

VIEWSTATE_17=<YOUR KEY>
VIEWSTATE_15=<YOUR KEY>
VIEWSTATE_136=<YOUR KEY>
VIEWSTATE_137=<YOUR KEY>
VIEWSTATE_109=<YOUR KEY>

EVENTVALIDATION_17=<YOUR KEY>
EVENTVALIDATION_15=<YOUR KEY>
EVENTVALIDATION_136=<YOUR KEY>
EVENTVALIDATION_137=<YOUR KEY>
EVENTVALIDATION_109=<YOUR KEY>
